rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Users Collection (Phase 9 Ratings)
    match /users/{userId} {
      allow read, write: if request.auth != null;
    }
    
    // Sharing Points Collection
    match /sharing_points/{pointId} {
      
      // Allow read for anyone signed in
      allow read: if request.auth != null;
      
      // Allow creating a sharing point if user is signed in
      allow create: if request.auth != null;
      
      // Allow updates (joining, leaving, cancelling, updating seats)
      allow update: if request.auth != null;
      
      allow delete: if request.auth != null && request.auth.uid == resource.data.creatorId;

      match /passenger_locations/{passengerUid} {
        allow read, write: if request.auth != null;
      }
      
      // Messages Subcollection for Chat
      match /messages/{messageId} {
        allow read, write: if request.auth != null;
      }
    }
  }
}
